
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greet</title>
</head>
<body>
    <h2>Greetings</h2>
    <h3 style="color:@ViewBag.Color">@ViewBag.Message</h3>
</body>
</html>
