
@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
     <h1>Hello Asp.Net MVC</h1>
     <h3>Today is  @ViewBag.Today</h3>
</body>
</html>
