
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h2>Welcome @Session["user"]</h2>
    <h4>
        Logged at :@Session["loggedat"] 
    </h4>
</body>
</html>
