
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
     <form method="post">
         Password : <input type="password" name="password" />
         <input type="submit" value="Submit" />
     </form>
     <h4>@ViewBag.Message</h4>
</body>
</html>
