
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post">
        Username : <input type="text" name="user" />
        Password : <input type="password" name="password" />
        <input type="submit" value="Submit" />
    </form>
     <h4>@ViewBag.Message</h4>
</body>
</html>
