@model MvcDemo.Models.Course

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course Details</title>
</head>
<body>
    <h2>@Model.Title</h2>
    <h3>@Model.Fee</h3>
    <h3>@Model.Duration</h3>
</body>
</html>
