
@{
    ViewBag.Title = "Search Products";
    Layout = "~/Views/Shared/master.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

@using (Ajax.BeginForm("Search",
    new AjaxOptions { UpdateTargetId = "result", HttpMethod = "post" ,
                      LoadingElementId ="feedback" }))
{
    <span>Name :</span>
    <input type="text" name="name"/>
    <input type="submit" value="Search" />
    <img id="feedback"  src="~/Content/ajax-loader.gif" style="display:none" />
    <p/>
    <div id="result"></div>
}


